main {
  overflow: hidden;
  padding-bottom: 0;
}
.mainInfo {
  padding-bottom: 110px;
}
.mainInfo > h1 {
  width: 100%;
  text-align: center;
}
.mainInfo > p {
  text-align: center;
  margin: 40px auto 50px;
  width: 520px;
}
form {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}
label {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
input {
  display: inline-block;
  width: 100%;
  padding: 20px 30px;
  margin: 10px 0px 20px;
  border: 1px solid #9c9c9c;
}
#firstName,
#lastName {
  width: 410px;
}
#labelFirstName,
#labelLastName {
  float: left;
}
#labelLastName {
  margin-left: 335px;
}
#firstName {
  float: left;
  clear: both;
}
#lastName {
  float: right;
}
#phone {
  position: relative;
}
#phone::placeholder {
  margin-left: 100px;
}
#phoneContry {
  border: none;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  position: absolute;
  margin-top: -60px;
  margin-left: 20px;
}
.btnFormSubmit {
  background: #2c3878;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin: 0px auto;
  display: block;
}
.paragraphLine {
  margin-right: 580px;
}
.location {
  overflow: hidden;
}
.location p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9c9c9c;
  margin-bottom: 40px;
}
.location span {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}
.location-contact {
  float: left;
  width: 280px;
}
.location-contact > h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  margin-bottom: 25px;
}
.location-contact > p {
  margin-top: 25px;
}
.location-city {
  width: 730px;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
.location-city-item {
  width: 335px;
  margin-right: 60px;
}
.location-city-item:nth-child(2n) {
  margin-right: 0px;
}
.location-city-item > p {
  margin-top: 30px;
}
footer {
  padding-top: 60px;
}
.giveEmail {
  position: relative;
  margin-bottom: 40px;
  margin-top: 85px;
}
.giveEmail > p > span {
  font-size: 30px;
}
.giveEmail > input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 15px;
  width: 100%;
  display: block;
}f;
font-weight: 500;
font-size: 18px;
line-height: 150%;
position: absolute;
margin-top: -60px;
margin-left: 20px;
}
.btnFormSubmit {
background: #2c3878;
padding: 15px 30px;
border: none;
color: #fff;
font-weight: 500;
font-size: 14px;
line-height: 150%;
margin: 0px auto;
display: block;
}
.paragraphLine {
margin-right: 580px;
}
.location {
overflow: hidden;
}
.location p {
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #9c9c9c;
margin-bottom: 40px;
}
.location span {
font-weight: 600;
font-size: 24px;
line-height: 140%;
}
.location-contact {
float: left;
width: 280px;
}
.location-contact > h3 {
font-weight: 600;
font-size: 36px;
line-height: 170%;
margin-bottom: 25px;
}
.location-contact > p {
margin-top: 25px;
}
.location-city {
width: 730px;
float: right;
display: flex;
flex-wrap: wrap;
}
.location-city-item {
width: 335px;
margin-right: 60px;
}
.location-city-item:nth-child(2n) {
margin-right: 0px;
}
.location-city-item > p {
margin-top: 30px;
}
footer {
padding-top: 60px;
}
.giveEmail {
  width: 440px;
}
.socialMedia {
  float: right;
}
